@font-face {
    font-family: menucs;
    src: url(../font/menucs.ttf);
}

@font-face {
    font-family: titulo;
    src: url(../font/titulo.ttf);
}

@font-face {
    font-family: info;
    src: url(../font/info.ttf);
}

.principal{
    width:100%;
    height: 100%;
    background-color: #39002d;
    position: relative;
    left:0 ;
    right:0;
    margin: 0%;
}
.header{
  background-color: #821b36;
  margin: 1%;
  padding: 10px;
  height: 110px;
  font-size:20px;
  text-align: center;
}
.main{
    background-color: #58064a;
    height:120%;
    margin:5%; 
    padding: 30px;
}

.footer{
    background-color: #821b36;
    margin: 1%;
    padding:10px;
    height:70px;
    text-align: right;
}
.section{
    background-color: #c9a6b0;
    width:96%;
    height:500%;
    margin:30px;
    padding:30px;
}
.section1{
    background-color: #c9a6b0;
    width:96%;
    height:860px;
    margin:30px;
    padding:30px;
}
.section2{
    background-color: #c9a6b0;
    width:96%;
    height:515px;
    margin:30px;
    padding:30px;
}
.section3{
    background-color: #c9a6b0;
    width:96%;
    height:496px;
    margin:30px;
    padding:30px;
}

.section4{
    background-color: #c9a6b0;
    width:96%;
    height:668px;
    margin:30px;
    padding:30px;
}

.section5{
    background-color: #c9a6b0;
    width:96%;
    height:668px;
    margin:30px;
    padding:30px;
}

.section6{
    background-color: #c9a6b0;
    width:96%;
    height:732px;
    margin:30px;
    padding:30px;
}

.section7{
    background-color: #c9a6b0;
    width:96%;
    height:825px;
    margin:30px;
    padding:30px;
}

.section8{
    background-color: #c9a6b0;
    width:96%;
    height:525px;
    margin:30px;
    padding:30px;
}

.section9{
    background-color: #c9a6b0;
    width:96%;
    height:534px;
    margin:30px;
    padding:30px;
}

.section10{
    background-color: #c9a6b0;
    width:96%;
    height:492px;
    margin:30px;
    padding:30px;
}

.caja{
    align-content: left;
    margin-left: 850px;
    margin-top: -650px;
    position: right;
    width: 50%;
}

.texto{
    text-align: center;
}

.alinear{
    display: flex;
}

.imagen{
    width: 120px;
    height: 250px;
    margin-right: 30px;
    margin-top: 20px;
}

.imagen2{
    margin-top: 20px;
    width: 450px;
    height: 350px;
    margin-left: 120px;
    border-radius: 20px;
}

.estilodeltitulo{
    font-family: titulo;
    font-size: 80px;
    text-align: center;
}
.estilodelcontenido{
    font-family: info;
    line-height:1.5em;
}
.estilodelcontenido1{
    font-family: info;
    line-height:1.5em;
}

.icono{
    text-align: right;
    margin-top: 68px;
    margin-left: 710px;
}

.icono90{
    margin-top: 80px;
    margin-left: 1510px;
}

.icono2{
    text-align: left;
    margin-top: 50px;
}

.menuimagen{
    text-align: right;
    margin-top: -70px;
}

.mapa{
    margin-left: 820px;
    margin-top: -485px;
    border-radius: 20px;
}

.icono3{
    margin-left: -20px;
    margin-top: 50px;
}

.icono5{
    margin-left: 910px;
    margin-top: 140px;
}

.icono7{
    margin-left: -20px;
    margin-top:-20px;
}

.icono6{
    margin-left: -20px;
    margin-top:20px;
}

.icono4{
    text-align: left;
    margin-top:-10px;
}

.imagen4{
    margin-top: -480px;
    width: 500px;
    height: 400px;
    margin-left: 900px;
    border-radius: 20px;
}
.boxizquierda{
    width: 50%;
    height: 600px;
    margin-left: 70px;
}

.borde{
    border-radius: 20px;
}

.cuadro1{
    width: 45%;
    height: 350px;
    margin-left: 30px;
}

.cuadro101{
    width: 45%;
    height: 350px;
    margin-left: 30px;
}

.cuadro2{
    width: 45%;
    height: 350px;
    margin-left: 800px;
    margin-top: -750px;
}

.cuadro202{
    width: 45%;
    height: 350px;
    margin-left: 800px;
    margin-top: -50px;
}

.cuadro3{
    width: 35%;
    height: 300px;
    margin-left: 800px;
    margin-top: -350px;
}

.cuadro4{
    width: 45%;
    height: 300px;
    margin-left: 100px;
    margin-top: 150px;
}

.imagen3{
    margin-top: -160px;
    width: 300px;
    height: 300px;
    margin-left: 620px;
    text-align: justify;
}

.icono10{
    text-align: right;
    margin-top: 10px;
}

.cuadro5{
    width: 45%;
    height: 300px;
    margin-left: 50px;
    margin-top: 20px;
}

.imagen5{
    margin-top: -110px;
    width: 350px;
    height: 300px;
    margin-left: 225px;
    border-radius: 20px;
}

.cuadro6{
    width: 60%;
    height: 200px;
    margin-left: 180px;
    margin-top: 20px;
}

.cuadro7{
    width: 45%;
    height: 50px;
    margin-left: 260px;
    margin-top: -30px;
    text-align: center;
}

.cuadro8{
    width: 70%;
    height: 150px;
    margin-left: 100px;
    margin-top: 25px;
}

.cuadro9{
    width: 45%;
    height: 130px;
    margin-left: 50px;
    margin-top: 25px;
}

.cuadro10{
    width: 45%;
    height: 340px;
    margin-left: 150px;
    margin-top: -15px;
}

.imagen8{
    margin-top: -480px;
    width: 440px;
    height: 380px;
    margin-left: 1000px;
    border-radius: 20px;
}

.cuadro11{
    width: 45%;
    height: 380px;
    margin-left: 700px;
    margin-top: -450px;

}

.imagen21{
    margin-top: 8px;
    width: 480px;
    height: 400px;
    margin-left: 100px;
    border-radius: 20px;
}

.imagen22{
    margin-top: 20px;
    width: 480px;
    height: 400px;
    margin-left: 120px;
    border-radius: 20px;
}

.imagen23{
    margin-left: 35px;
    width: 1580px;
    height: 960px;
    border-radius: 20px;
}

.icono24{
    margin-left: 930px;
    margin-top: 60px;
}
.mover{
    margin-left: 200px;
}

.icono69{
    margin-left: 808px;

}

.imagen38{
        margin-left: 50px;
}

.token{
    margin-top: 0px;
}

.imagen50{
    margin-top: -160px;
    width: 480px;
    height: 400px;
    margin-left: 900px;
    border-radius: 20px;
}